<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="actor" class="com.stackroute.test.domain.Actor">
        <property name="name" value="singh"></property>
        <property name="age" value="22"></property>
        <property name="gender" value="Male"></property>

    </bean>
    <bean name="movie" class="com.stackroute.test.domain.Movie">
        <property name="actor" ref="actor"></property>
    </bean>


<!--    <bean id="movie" class="com.stackroute.test.domain.Movie">-->
<!--        <constructor-arg index="0" value="12"></constructor-arg>-->
<!--        <constructor-arg index="1" value="Samaresh"></constructor-arg>-->
<!--        <constructor-arg index="2" ref="actor"></constructor-arg>-->
<!--    </bean>-->

</beans>
