<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="actor" class="com.stackroute.spring.domain.Actor" >
        <property name="age" value="22"></property>
        <property name="name" value="atul"></property>
        <property name="gender" value="male"></property>

    </bean>
    <bean name="movie" class="com.stackroute.spring.domain.Movie">
        <property name="actor" ref="actor"></property>
    </bean>
    <bean id="BeanLifeCycleDemoBean" class="com.stackroute.spring.domain.BeanLifecycleDemoBean">
        <property name="message" value="i'm property message" />
    </bean>

</beans>
